@font-face {
  font-weight: 400;
  font-family: Poppins-Regular;
  font-style: normal;
  font-display: swap;
  src: url('./poppins-v20-latin-regular.woff2') format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: Poppins-Bold;
  font-style: normal;
  font-display: swap;
  src: url('./poppins-v20-latin-600.woff2') format('woff2');
}
