.container {
  display: flex;
  position: relative;
  background: var(--background-gradient);
  width: 814px;
  flex: 1;
  height: 100vh;
  flex-shrink: 2;
  min-width: 400px;
  flex-basis: auto;
  font-family: var(--regular-font);
}

.heading {
  width: 554px;
  margin: 64px auto 82px;

  color: var(--main-white);
  font-family: var(--bold-font);
  font-size: 28px;
  line-height: 150%;
  text-align: center;
}

.ellipse {
  position: absolute;

  left: 50%;
  top: 230px;
  transform: translateX(-50%);
  z-index: 10;

  flex-shrink: 1;
  width: 593px;
  height: 593px;
  border-radius: 50%;

  background: var(--ellipse-gradient);

  &Container {
    position: relative;
    margin: 0 auto;

    width: 440px;
    height: 630px;
  }
}

.mainPhone {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.minorLeftPhone {
  position: absolute;
  top: 73px;
  left: 76px;
  transform: translateX(-30%);
  z-index: 100;
}

.minorRightPhone {
  position: absolute;
  top: 73px;
  left: 261px;
  transform: translateX(-30%);

  z-index: 100;
}

@media screen and (width <= 1280px) {
  .heading {
    font-size: 20px;
    overflow-wrap: break-word;
  }

  .ellipse {
    width: 400px;
    height: 400px;

    top: 180px;

    &Container {
      top: 0;

      width: 290px;
      height: 440px;
    }
  }

  .mainPhone {
    width: 230px;
  }

  .minorLeftPhone {
    width: 180px;

    top: 46px;
    left: 47px;
  }

  .minorRightPhone {
    width: 180px;

    top: 46px;
    left: 170px;
  }

  @media screen and (width <= 768px) {
    .container {
      width: 100%;
      height: 800px;
    }
  }
}
