.container {
  position: relative;
  background: var(--background-gradient);
  width: 814px;
  height: 100%;
  font-family: var(--regular-font);
}

.heading {
  width: 554px;
  margin: 64px auto 82px;

  color: var(--main-white);
  font-family: var(--bold-font);
  font-size: 28px;
  line-height: 150%;
  text-align: center;
}

.ellipse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  width: 593px;
  height: 593px;
  border-radius: 50%;

  background: var(--ellipse-gradient);

  &Container {
    position: relative;
    margin: 0 auto;

    width: 440px;
    height: 630px;
  }
}

.mainPhone {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.minorLeftPhone {
  position: absolute;
  top: 73px;
  left: 76px;
  transform: translateX(-30%);
  z-index: 100;
}

.minorRightPhone {
  position: absolute;
  top: 73px;
  // right: -76px;
  left: 261px;
  transform: translateX(-30%);
  z-index: 100;
}
