.container {
  position: relative;
  display: flex;

  width: calc(100vw - 814px);
  height: 100%;

  font-family: var(--regular-font);
}

.wrapper {
  display: flex;
  flex-direction: column;

  margin: 64px 196px 32px 162px;

  width: 748px;
  height: 862px;

  color: var(--main-black);
}

.logo {
  margin-bottom: 61px;
}

.name {
  font-family: var(--bold-font);
  color: #2d3748;
  font-size: 28px;
  line-height: 140%;
  text-align: left;

  margin-bottom: 8px;
}

.description {
  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 140%;
  text-align: left;
}

.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 56px;
  margin-bottom: 32px;

  &Row {
    display: flex;
    gap: 32px;
    flex-direction: row;
  }

  &Field {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-bottom: 24px;
  }
}

.field {
  width: 358px;
  height: 48px;

  padding: 4px 4px;

  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}

.datePickerContainer {
  position: relative;
}

.calendarIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox {
  margin-right: 12px;

  border: 1px solid rgb(209, 209, 209);
  border-radius: 2px;

  &Container {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 32px;
  }

  &Row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;

    font-family: var(--regular-font);
    font-size: 14px;
    color: var(--main-black);
    line-height: 140%;
  }
}

a {
  color: #007aff;
}

.buttonCreate {
  width: 358px;
  height: 48px;

  border-radius: 5px;
  background: rgb(0, 122, 255);

  font-family: var(--bold-font);
  color: var(--main-white);
  font-size: 14px;
}

.buttonGoogle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 358px;
  height: 48px;
  text-align: center;

  border-radius: 5px;
  background: var(--main-black);

  &Text {
    font-family: var(--bold-font);
    color: var(--main-white);
    font-size: 14px;
  }
}

.googleIcon {
  margin-right: 12px;
}

.logIn {
  font-family: var(--regular-font);
  font-size: 14px;
  color: var(--main-black);
  text-align: center;
  margin-bottom: 115px;
}

.googlePlayLink {
  margin-right: 13px;
}
