.container {
  position: relative;
  display: flex;

  width: calc(100vw - 854px);
  height: 100%;

  font-family: var(--regular-font);
}

.wrapper {
  display: flex;
  flex-direction: column;

  margin: 64px 196px 32px 162px;

  width: 748px;
  height: 862px;

  background-color: brown;
}

.logo {
  margin-bottom: 61px;
}
