.container {
  position: relative;
  display: flex;
  flex-shrink: 1;

  flex-basis: auto;
  min-width: 550px;

  font-family: var(--regular-font);
}

.wrapper {
  display: flex;
  flex-direction: column;

  margin: 64px 196px 32px 162px;
  // flex-basis: 748px;
  width: 748px;
  height: 862px;

  color: var(--main-black);
}

.logo {
  flex-shrink: 1;
  margin-bottom: 61px;
}

.name {
  flex-shrink: 1;

  font-family: var(--bold-font);
  color: #2d3748;
  font-size: 28px;
  line-height: 140%;
  text-align: left;

  margin-bottom: 8px;
}

.description {
  flex-shrink: 1;

  font-family: var(--regular-font);
  font-size: 14px;
  line-height: 140%;
  text-align: left;
}

.form {
  display: flex;
  flex-wrap: wrap;

  flex-shrink: 1;

  margin-top: 56px;
  margin-bottom: 32px;

  &Row {
    display: flex;
    gap: 32px;
    flex-direction: row;
  }

  &Field {
    display: flex;
    flex-direction: column;
    flex: 1;

    margin-bottom: 24px;
  }
}

.field {
  width: 358px;
  height: 48px;

  padding: 4px 4px;

  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
}

.datePickerContainer {
  position: relative;
}

.calendarIcon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.checkbox {
  margin-right: 12px;

  border: 1px solid rgb(209, 209, 209);
  border-radius: 2px;

  &Container {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 32px;
  }

  &Row {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;

    font-family: var(--regular-font);
    font-size: 14px;
    color: var(--main-black);
    line-height: 140%;
  }
}

a {
  color: #007aff;
}

.buttonCreate {
  width: 358px;
  height: 48px;

  border-radius: 5px;
  background: rgb(0, 122, 255);

  font-family: var(--bold-font);
  color: var(--main-white);
  font-size: 14px;
}

.buttonGoogle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 358px;
  height: 48px;
  text-align: center;

  border-radius: 5px;
  background: var(--main-black);

  &Text {
    font-family: var(--bold-font);
    color: var(--main-white);
    font-size: 14px;
  }
}

.googleIcon {
  margin-right: 12px;
  vertical-align: middle;
}

.logIn {
  font-family: var(--regular-font);
  font-size: 14px;
  color: var(--main-black);
  text-align: center;
  margin-bottom: 115px;
}

.linkContainer {
  text-align: left;
}

.googlePlayLink {
  margin-right: 13px;
}

.errorText {
  font-family: var(--regular-font);
  font-size: 14px;
  color: red;
}

.errorBorder {
  border: 1px solid red;
}

@media screen and (width <= 1750px) {
  .wrapper {
    margin: 64px 196px 32px 62px;
  }
}

@media screen and (width <= 1550px) {
  .wrapper {
    width: 487px;
    margin: 64px 60px 32px 40px;
  }

  .field {
    width: 223px;
    height: 30px;
  }

  .buttonCreate {
    width: 223px;
    height: 30px;
  }

  .buttonGoogle {
    width: 223px;
    height: 30px;
  }

  .linkContainer {
    text-align: center;
  }

  .logIn {
    margin-bottom: 60px;
  }
}

@media screen and (width <= 1280px) {
  .logo {
    margin-bottom: 30px;
  }

  .form {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .checkbox {
    &Row {
      margin-bottom: 10px;
    }

    &Container {
      margin-bottom: 10px;
    }
  }

  .logIn {
    margin-bottom: 30px;
  }
}

@media screen and (width <= 980px) {
  .wrapper {
    width: 230px;
    margin-top: 20px;
  }

  .logo {
    margin-bottom: 15px;
  }

  .name {
    font-size: 20px;
  }

  .description {
    font-size: 10px;
  }

  label {
    font-size: 12px;
  }

  .form {
    margin-top: 10px;
    margin-bottom: 10px;

    &Row {
      flex-shrink: 1;
      flex-wrap: wrap;
      gap: 0;
    }

    &Field {
      margin-bottom: 10px;
    }
  }

  .checkbox {
    &Container {
      margin-bottom: 0;
    }

    &Row {
      flex-direction: column;
    }

    &Remember {
      order: 2;
    }
  }

  .forgotPasswordLink {
    font-size: 12px;
    margin-bottom: 5px;

    order: 1;
  }
  .buttonCreate {
    margin-bottom: 10px;
  }

  .logIn {
    margin-bottom: 10px;
  }

  .googlePlayLink {
    margin-right: 0;
  }

  .linkContainer {
    display: flex;
    justify-content: space-between;
  }

  .downloadImg {
    width: 100px;
  }
}

@media screen and (width <= 768px) {
  .wrapper {
    margin: 30px auto;
  }
}
