.success {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;

  font-family: var(--bold-font);
  color: #007aff;
  text-align: center;
  vertical-align: middle;
}
